.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-link {
  color: #353f50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding-top: 17px;
  font-size: 19px !important;
  transition: 2s !important;
}

.nav-link:hover {
  color: #353f50;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding-top: 17px;
  font-size: 12px !important;
  transform: scale(1.5) !important;
}

.navbar {
  padding: 6px 0px !important;
}

.btn-md {
  padding: 10px 12px !important;
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  /* color: var(--bs-navbar-color); */
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
  background: #18425d !important;
}

.icofont-check {
  color: #007bff;
}
.icon li {
  padding: 0px 12px;
  font-size: 27px;
}
.circle1 {
  background: #fff;
  box-shadow: 0 4px 24px rgb(0 0 0 / 14%);
  border-radius: 16px;
  height: 50vh;
  margin: 0 0 30px;
  width: 100%;
  max-width: 100%;
  padding: 12px 10px;
}

.circle {
  background: #fff;
  box-shadow: 0 4px 24px rgb(0 0 0 / 12%);
  border-radius: 16px;
  height: 90%;
  margin: 0 0 10px;
  width: 100%;
  max-width: 100%;
  padding: 12px 0px;
}

.go {
  background: #479fc8;
  border-radius: 6px;
  font-weight: 600;
  font-size: 19px;
  line-height: 17px;
  padding: 8px 16px;
  color: #fff;
  border: none;
  text-decoration: none;
}

.go:hover {
  color: #fff;
}

.Book:hover {
  color: #479fc8;
}
h6 {
  font-size: 20px;
  color: #00425f;
}
.wrapper p {
  font-size: 10px;
  color: black;
  font-weight: 500;
}
.Book {
  outline: 2px solid #479fc8;
  border-radius: 4px;
  background: white;
  font-weight: 600;
  font-size: 10px;
  padding: 6px 10px;
  color: #479fc8;
  border: none;
  text-decoration: none;
  font-size: 19px;
}
.rand {
  padding: 12px;
  border-radius: 100%;
  /* background-color: rgba(240,243,247,.03); */

  color: white;
}

.section5 {
  background-color: #f3f5f6;
  width: 75vw;
  height: 30vh;
  margin-bottom: 23px;
  border-radius: 12px;
  margin: auto;
}
.section6 {
  background-color: #00425f;
  background-size: cover;
  width: 100vw;
  height: 70vh;
}
.okay a {
  padding: 10px;
  color: #00425f;
  font-size: large;
}

.inter h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  color: #18425d;
}

.pay {
  color: #00425f;
  font-size: 14px;
}
.btn-md {
  padding: 2px 13px !important;
}

.about {
  padding-bottom: 0.625rem;
  color: #00425f;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  text-align: center;
}

.list li {
  list-style-type: none;
  color: #353f50;
  font-weight: 400 !important;
  line-height: 19px;
  font-size: 15px;
  text-align: center;
}

.inter p {
  color: #353f50;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

.btn-secondary {
  border: 2px solid #479fc8 !important;
  box-sizing: border-box;
}

.circle3 {
  background: #fff;
  box-shadow: 0 4px 24px rgb(0 0 0 / 14%);
  border-radius: 16px;
  height: 49%;
  margin: 0 0 30px;
  width: 100%;
  max-width: 100%;
  padding: 12px 10px;
}

.Section3 {
  background-image: url(./assest/image/background.webp);
  height: 39vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  color: gray;
  line-height: 1.7;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* input[type=text]{
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0px;
 box-sizing: border-box;
 border: none;
 border-bottom: 2px solid black;
}
/* input[type=text]:focus{
  width: 100%;
  /* padding: 12px 20px; */
/* margin: 8px 0px; */
/* box-sizing: border-box; */
/* border: none; */
/* border-bottom: 2px solid black */
.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #198754;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #157347;
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #146c43;
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #198754;
  --bs-btn-disabled-border-color: #198754;
  padding: 5px 25px !important;
}

.inp {
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 20px;
  outline: none;
  width: 100%;
}
.ope {
  border: none;
  border-bottom: 1px solid red;
  padding: 5px 20px;
  outline: none;
  width: 100%;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease;
  text-indent: -100%;
  opacity: 3;
}

.day h3 {
  color: #18425d;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.your h3 {
  color: #18425d;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}
.who {
  height: 19px;
  /* padding: 10px 0px; */
}
.your p {
  color: #353f50;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.every {
  margin-top: 43px;
  margin-bottom: 43px;
}

.day p {
  color: #353f50;
  font-style: normal;
  font-weight: 400;
  font-size: 1px;
  line-height: 24px;
}

.bill h3 {
  padding-top: 10px;
  font-weight: 700;
  font-size: 19px;
  line-height: 28px;
  color: #353f50;
}

.bill p {
  color: #353f50;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.flight h3 {
  padding-top: 10px;
  font-weight: 700;
  font-size: 19px;
  line-height: 28px;
  color: #353f50;
}

.ticket h3 {
  padding-top: 10px;
  font-weight: 700;
  font-size: 19px;
  line-height: 28px;
  color: #353f50;
}

.ticket p {
  color: #353f50;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.global h3 {
  padding-top: 10px;
  font-weight: 700;
  font-size: 19px;
  line-height: 28px;
  color: #353f50;
}

.mobile h3 {
  color: #fff;
  padding-bottom: 20px;
  background-color: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
}

.custom h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #18425d;
}

.global p {
  color: #353f50;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
/* .{
  box-shadow: 0 4px 24px rgb(0 0 0 / 14%);
} */
.wrapper {
  background: #fff;
  box-shadow: 0 4px 24px rgb(0 0 0 / 14%);
  border-radius: 16px;
  height: 34vh;
  margin: 0 0 30px;
  width: 50vh;
  max-width: 100%;
  padding: 12px 10px;
}
.wrapper h6 {
  color: #00425f;
  font-size: 34px;
}
.wrapper p {
  color: #00425f;
  font-size: 19px;
}
.list li {
  line-height: 1.2em;
  color: gray;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 33px;
  list-style-type: none !important;
}

.section4 {
  background: #18425d;
  padding: 23px 20px;
  margin-bottom: 50px;
}

.feat {
  color: #18425d;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.flight p {
  color: #353f50;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 480px) {
  .about1 {
    color: #00425f;
    font-size: 14px !important;
    text-align: center;
  }

  .about {
    padding-bottom: 0.625rem;
    color: #00425f;
    font-size: 14px !important;
    font-weight: 600 !important;
    text-transform: uppercase;
  }

  /* li {
    list-style-type: none;
    color: #353f50;
    font-weight: 400 !important;
    line-height: 29px;
    font-size: 19px;
    text-align: justify;
  } */
  .section7 {
    background-color: #00425f;
    background-size: cover;
    height: 39vh;
    width: 100vw;
  }

  .totalPrice {
    border: 1px solid black;
    width: 100vw;
    height: 29vh;
    margin-top: 23px;
  }
  .service li {
    display: inline-block;
  }
  .btn-warning {
    padding: 12px 23px !important;
  }
  .ele {
    padding: 17px;
    background-color: rgb(57, 57, 19);
    border-radius: 9px;
    /* margin-right: 23px; */
  }
  .section11 {
    background-image: url(./assest/image/Paypoint.webp);
    height: 55vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sp {
    padding: 19px 33px;
    background-color: var(--bs-btn-active-border-color);
    border-radius: 9px;
  }
  .btn-success {
    padding: 12px 73px !important;
  }
  .section9 {
    background-color: white;
    box-shadow: 0 4px 24px rgb(0 0 0 / 44%);
    background-size: cover;
    height: 30vh;
    width: 100vw;
    margin-top: -23px;
  }
  .section10 {
    background-color: white;
    box-shadow: 0 4px 24px rgb(0 0 0 / 44%);
    background-size: cover;
    height: 74vh;
    width: 100vw;
    margin-top: 23px;
  }
  .resize {
    border-top: 1px solid black;
    width: 90vw;
    height: 7vh;
    margin-top: 23px;
  }
  .circle4 {
    background: #fff;
    box-shadow: 0 4px 24px rgb(0 0 0 / 14%);
    border-radius: 16px;
    height: 30vh;
    margin: 0 0 30px;
    width: 90vh;
    max-width: 100%;
    padding: 12px 10px;
  }
}

.finegirl {
  -webkit-animation: mover 3s infinite alternate;
  animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-23px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}
.reg {
  max-width: 100vw;
}
@media only screen and (max-width: 500px) {
  .circle {
    background: #fff;
    box-shadow: 0 4px 24px rgb(0 0 0 / 12%);
    border-radius: 16px;
    height: 90%;
    margin: 32px 0 10px;
    width: 100%;
    font-size: 28px;
    text-align: center;
    max-width: 100%;
    padding: 14px 0px;
  }
  .circle1 {
    background: #fff;
    box-shadow: 0 4px 24px rgb(0 0 0 / 14%);
    border-radius: 16px;
    height: 45vh;
    margin-top: 74px;
    width: 100%;
    max-width: 100%;
    padding: 12px 10px;
  }
  .list li {
    list-style-type: none;
    color: #353f50;
    font-weight: 400 !important;
    line-height: 24px;
    font-size: 19px;
    text-align: center;
  }
  .circle3 {
    background: #fff;
    box-shadow: 0 4px 24px rgb(0 0 0 / 14%);
    border-radius: 16px;
    height: 30vh;
    margin: 0 0 30px;
    width: 100%;
    max-width: 100%;
    padding: 12px 10px;
  }
}
